<h1>this is the index page<h1>
<form action="/test/submit" method="post">
    <input type="text" name = "id">
    <button type="submit">Submit</button>
</form>
<button onclick = "window.location.href='/login';">Login</button>